<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>错题管理系统 - 错题详情</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
  </head>
  <body>
    <div id="app" class="app-container">
      <app-sidebar></app-sidebar>
      <div class="main-content">
        <app-header></app-header>
        <app-question-list></app-question-list>
      </div>
    </div>

    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/element-ui.js"></script>
    <script src="/static/js/request.js"></script>
    <script src="/static/js/apis/upload.js"></script>
    <script src="/static/js/apis/question.js"></script>
    <script src="/static/js/components/common/sidebar.js"></script>
    <script src="/static/js/components/common/header.js"></script>
    <script src="/static/js/components/pages/question.js"></script>
    <script>
      new Vue({ el: "#app" });
    </script>
  </body>
</html>